<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Truck : @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="~/Content/W3.css" rel="stylesheet" />
    <link href="~/Content/BaseSite.css" rel="stylesheet" />
</head>
<body class="bodyCss">

    <div id="main" class="container" style="border-left:1px solid #cecece; border-right:1px solid #cecece; min-height: 100%;">

        <div id="HeaderSection" class="row" style="margin-bottom:0px">
            <div id="LogoSection" class="col-md-2" style="margin:0px;background-color:#13d34a;height:58px">
                <div style="text-align:center">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/Content/img/logo.png" height="58" alt="จ่าจู แคทเทอริ่ง" />
                    </a>
                </div>
            </div>
            <div id="SystemSection" class="col-md-10" style="margin:0px;height:58px;">
                <div class="row" style="background-color:#13D34A;color:#ffffff;height:58px;">
                    <div class="col-md-7">
                        <!--<h2> JARJU </h2>-->
                        <h2> Food Truck Event System</h2>
                    </div>
                    <div class="col-md-5 navbar-collapse collapse" style="float:right;">
                        @if (HttpContext.Current.Session["ssUserID"] != null)
                        {
                        <div style="font-size:9pt;color:#e5e5e5;text-align:right;vertical-align:middle;margin-top:18px;">
                            <a href="@Url.Action("Register", "Home")" style="font-size:9pt">@HttpContext.Current.Session["ssUserName"]</a> |
                            <a href="@Url.Action("Register", "Home")" style="font-size:9pt">@HttpContext.Current.Session["ssUserRole"]</a> |
                            <a href="@Url.Action("BackOut", "System")" style="font-size:9pt">[LOG OFF]</a>
                        </div>
                        }
                        else
                        {
                            <div style="font-size:9pt;color:#e5e5e5;text-align:right;vertical-align:middle;margin-top:18px;">
                                <a href="@Url.Action("Login", "Home")" style="font-size:9pt">[LOG IN]</a> |
                                <a href="@Url.Action("Register", "Home")" style="font-size:9pt">[Register]</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:0px;background-color:#4CAF50;">
            <div class="dropdown">
                @if (HttpContext.Current.Session["ssUserRole"] != null && HttpContext.Current.Session["ssUserRole"].ToString() == "1")
                {
                    <button class="dropbtn">
                        Event
                    </button>
                    <div class="dropdown-content">
                        <a href="/Event/CreateEvent" style="font-size:9pt">Create</a>
                        <a href="@Url.Action("ManageEvent", "Event")" style="font-size:9pt">Manage</a>
                    </div>
                }
            </div>
            <div class="dropdown">
                @if (HttpContext.Current.Session["ssUserRole"] != null && HttpContext.Current.Session["ssUserRole"].ToString() == "2")
                {
                    <button class="dropbtn">
                        Food Truck
                    </button>
                    <div class="dropdown-content">
                        <a href="@Url.Action("FoodtruckProfile", "Foodtruck")" style="font-size:9pt">Profile</a>
                        <a href="@Url.Action("EventRegisterView", "Foodtruck")" style="font-size:9pt">Register event</a>
                    </div>
                }
            </div>
            <div class="dropdown">
                @if (HttpContext.Current.Session["ssUserRole"] != null && HttpContext.Current.Session["ssUserRole"].ToString() == "4")
                {
                    <button class="dropbtn">
                        Menu
                    </button>
                    <div class="dropdown-content">
                        <a href="@Url.Action("Menu", "Menu")" style="font-size:9pt">Menu</a>
                        <a href="@Url.Action("MenuStyle", "Menu")" style="font-size:9pt">Menu Style</a>
                        <a href="@Url.Action("MenuType", "Menu")" style="font-size:9pt">Menu Type</a>
                    </div>
                }
            </div>
        </div>
        <div class="row" ng-app="FoodTruck_Module">
            <div id="RightSection" class="col-md-12" style="border-left:1px solid #cecece;">
                <div id="PageSection" class="row" style="border-top: 1px solid #cecece;">
                    @RenderBody()
                    <div loading style="display: none;">
                        <div class="loader"></div>
                        <div class="spinner-container">
                            <div class="spinner"></div>
                            <div class="loading-text">Loading...</div>
                        </div>
                    </div>
                    <script type="text/ng-template" id="input-modal">
                        <div class="message-container">
                            <div class="message-header">
                                <span class="glyphicon glyphicon-question-sign"></span> Confirmation
                            </div>
                            <div class="message">
                                {{modalOptions.bodyText}}&nbsp;&nbsp;
                                <input ng-model="modalOptions.inputData" type="text" min="0" format-numeric />
                            </div>
                            <div class="message-buttons">
                                <button class="btn btn-default" data-ng-click="modalOptions.ok()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Yes
                                </button>
                                <button class="btn btn-default" data-ng-click="modalOptions.close()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    No
                                </button>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="confirm-modal">
                        <div class="message-container">
                            <div class="message-header">
                                <span class="glyphicon glyphicon-question-sign"></span> Confirmation
                            </div>
                            <div class="message">
                                {{modalOptions.bodyText}}
                            </div>
                            <div class="message-buttons">
                                <button class="btn btn-default" data-ng-click="modalOptions.ok()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    Yes
                                </button>
                                <button class="btn btn-default" data-ng-click="modalOptions.close()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    No
                                </button>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="info-modal">
                        <div class="message-container">
                            <div class="message-header info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                Info
                            </div>
                            <div class="message">
                                {{modalOptions.bodyText}}
                            </div>
                            <div class="message-buttons">
                                <button class="btn btn-default" data-ng-click="modalOptions.ok()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    OK
                                </button>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="warning-modal">
                        <div class="message-container">
                            <div class="message-header warning">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                Warning
                            </div>
                            <div class="message">
                                {{modalOptions.bodyText}}
                            </div>
                            <div class="message-buttons">
                                <button class="btn btn-default" data-ng-click="modalOptions.ok()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    OK
                                </button>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="alert-modal">
                        <div class="message-container">
                            <div class="message-header alert">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                                Alert
                            </div>
                            <div class="message">
                                {{modalOptions.bodyText}}
                            </div>
                            <div class="message-buttons">
                                <button class="btn btn-default" data-ng-click="modalOptions.ok()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    OK
                                </button>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>

        <div id="FooterSection" class="row" style="border-top:1px solid #cecece;border-bottom:1px solid #cecece;padding:10px;bottom:0px;">

            <footer>
                <p style="font-size:10px;color:#8e8e8e">&copy; @DateTime.Now.Year - Jarju Catering Co., Ltd.</p>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/interact.js"></script>
    <script src="~/AngApp/AppFoodTruck.js"></script>
    <script src="~/AngApp/FactoryServices.js"></script>
    <script src="~/AngApp/jConfiguration.js"></script>
    <script src="~/AngApp/jEvent.js"></script>
    <script src="~/AngApp/jFoodtruck.js"></script>
    <script src="~/AngApp/jMenu.js"></script>
    <script src="~/AngApp/jUser.js"></script>

    <link href="~/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" rel="stylesheet">
    <script src="~/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>

</body>
</html>
