<div><u><a href="@Url.Action("Main", "System")" style="font-size:10pt">Home</a></u></div> 
<div style="font-size:9pt"><u>Master configuration</u></div> 
<ul style="list-style-type:none;padding-left:5px;">
    <li><a href="@Url.Action("MenuType", "Config")" style="font-size:9pt">Menu Type</a></li>
    <li><a href="@Url.Action("MenuCategory", "Config")" style="font-size:9pt">Menu Category</a></li>
    <li><a href="@Url.Action("FoodMenu", "Config")" style="font-size:9pt">Food Menu</a></li>
    <li><a href="@Url.Action("BuffetPackage", "Config")" style="font-size:9pt">Buffet Package</a></li>
</ul>
<div style="font-size:9pt"><u>Operation</u></div>
<ul style="list-style-type:none;padding-left:5px;">
    <li><a href="@Url.Action("Customer", "Operation")" style="font-size:9pt">Customer</a></li>
    <li><a href="@Url.Action("Calendar", "Operation")" style="font-size:9pt">Calendar</a></li>
    <li><a href="@Url.Action("TestGrid", "Operation")" style="font-size:9pt">Test Grid</a></li>
    
</ul>